---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import heroImg from '../assets/deenpic.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<h1>Academic Achievements</h1>
		<b>Number of Distinctions</b>: 18 <br>
		<b>Number of Top in Modules</b>: 10<br>
		<ul id="bullet-list">
			<li>Module Prize for Applied Mathematics 3
			<li>Module Prize for Microcontroller and Interfacing
			<li>Module Prize for Physics 2
			<li>Most Outstanding Performance for Level 2.2 in Engineering Science
			<li>Director’s List for Level 2.2
			<li>Module Prize for Physics 1 
			<li>3rd Most Outstanding Performance for Level 2.1 in Engineering Science 
			<li>Director’s List for Level 2.1
			<li>Module Prize for Applied Mathematics 2A
			<li>Module Prize for Analogue Electronics
			<li>Most Outstanding Performance for Level 1.2 in Engineering Science 
			<li>Director’s List for Level 1.2
			<li>Module Prize for Applied Mathematics 1 
			<li>Module Prize for Electrical Engineering Fundamentals 
			⁠<li>Module Prize for Engineering and Society 
			⁠<li>Module Prize for Mechanical Engineering Fundamentals
			<li>Most Outstanding Performance for Level 1.1 in Engineering Science
			<li>Director’s List for Level 1.1
		</ul>
		<h1>Competitions</h1>
		<ul id="bullet-list">
			<li>BusTech Grand Challenge 2025 Tertiary Category 2nd Runner Up
			<li>National Robotics Competition 2023 Tertiary Division - First Place
			<li>⁠Global Robotic Games 2023 Mobile Robotics IV - First Place
			<li>Young Inventor’s Journal 2021 Gold Award
			<li>Indonesia International Applied Science Project Olympiad 2020 Silver Award
			<li>Engineering Innovation Challenge 2020 1st Runner Up
		</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
</style>
